.EditSet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   
    color: #2E4012;
}
.EditSet-main {
    margin-top: 100px;
    width: 100%;
    margin-right:80px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spinner{
    margin-top: 100px;
}

.edit-set-form{
    color: black;
    padding: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.edit-set-form > label {
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 10px;
    background-color: #BAD097;
    display: flex;
    flex-direction: row;
    width: 580px;
}

.card-info {
    padding: 6px 5px;
    width: 590px;
    background-color: #BAD097;
    border-radius: 3px;
}
.card-info > .card-info-top  > p{
    margin-bottom: 4px;
}
.edit-set-form > label > textarea,
.edit-set-form > label > input {
    border: none;
    padding: 0px 4px;
    background-color: transparent;

}

.edit-set-form > label > textarea {
    width: 100%;
    height: 60px;
    max-height: 130px;
}

.card-sides-input{
    display: flex;
    width: 100%;
}


.card-sides-input > label{
    font-size: 13px;   
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-sides-input > label > textarea {
    color: #f0eeee;
    background-color: #2E4012;
    border-radius: 3px;
    padding: 2px 5px;
    border: none;
    max-width: 275px;
    height: 50px;
    max-height: 200px;
}

.edit-form-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-card-btn{
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    background-color: #BAD097;
    border: none;
    font-weight: 600;
    transition: all .3s;
}

.add-card-btn:hover { 
    background-color: #b4c992;   
}

.edit-action-btns {
    display: flex;
    gap: 15px;
}

.card-info-top {
    display: flex;
    justify-content: space-between;
}

.icon-small {
    cursor: pointer;
    color:#2E4012;
}
.icon-small:hover {
    color:#374d16;
}