.studySet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #2E4012;
}

.side-nav {
    margin-top: 100px;
}

.studySet-main {
    width: 100%;
    margin: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.study-cont-p {
    margin: 10px 0px;
    color: gray;
    text-align: center;
}

.study-set-btn-cont {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.study-set-btn-cont button {
    border: none;
    background-color: transparent;
    color: #2E4012;
    font-size: 30px;
    transition: all .3s;
}

.study-set-btn-cont button:hover {
    color: #5d7c2a;
}

.study-set-btn-cont button:focus {
    color: #5d7c2a;
}

