.dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    color: #2E4012;
}

.dashboard-main {
    width: 100%;
    margin: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-dashboard > img {
    width: 60px;
    height: 60px;
}