.dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    color: #2E4012;
}

.side-nav {
    margin-top: 100px;
}

.dashbordTitle {
    margin-bottom: 50px;
    text-align: center;
}

.dashboard-main {
    width: 100%;
    margin: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.populated-dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.empty-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-dashboard > img {
    width: 60px;
    height: 60px;
}