.nav--side {
    border-right: solid 2px #6cabe9;
    padding: 50px 20px; 
    width: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}   

.nav--side > ul > a > li {
    background-color: #6cabe9;
    margin: 15px 0px;
    padding: 8px 18px;
    border-radius: 20px;
    color:#F5F5F5;
    cursor: pointer;
    transition: all .3s;
}

.nav--side > ul > li:hover {
    background-color: #67a2dd;
}
