input:focus{
    outline: none;
}
label{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.primary-button {
    margin-top: 25px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #6cabe9; 
    border-bottom: 3px solid #1a66b3;
    color:#F5F5F5;
    font-weight: 700;
}