@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
body {
  background-color: #F5F5F5;
}

button {
  cursor: pointer;
}

nav {
  background-color: #A7C7E7;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 1px 1px 6px #e7e7e7;
}

.nav-left{
  display: flex;
  gap: 3px;
}
.nav-left h1 {
  font-size: 2.3rem;
  color: #ffffff;
}

.icon{
  vertical-align: bottom;
  font-size: 2.3rem;
  color: black;
}

.primary-button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  border-bottom: 3px solid #1a66b3;
  color: #1a66b3;
}